<tr>
  <td><%= t("name") %>:</td>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td><%= t("description") %>:</td>
  <td><%= f.text_field :description %></td>
</tr>
<tr>
  <td><%= t("thumbnail") %>:</td>
  <td><%= f.file_field :thumbnail %></td>
</tr>
<tr>
  <td><%= t("image") %>:</td>
  <td><%= f.file_field :image %></td>
</tr>
